form hr{
    border-color: var(--color-primary-200);
    margin: var(--space-4);
}

label{
    color: var(--color-gray-100);
    display: block; 
    /* puts the labels to have the whole line */
    margin-bottom: var(--space-2);
}

input, textarea{
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radium-small);
    border: none;
    width: 90%;
}