#products-grid {
  margin: var(--space-8);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  /*auto-fill ensures that the number of columns that will be generated will be chosen dynamically 
and automatically by the browser based on the available screen width. */
  /* minmax() is a function which itself takes two values, a minimum and a maximum value,
and then the browser will size the columns appropriately based on their content
and the available space in the browser. */
  gap: var(--space-4);
}

.product-item {
  
  border-radius: var(--border-radius-medium);
  text-align: center;
  background-color: var(--color-gray-600);
  overflow: hidden; /*The corners of the image need to be rounded */
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}


.product-item-content {
  padding: var(--space-4);
}

.product-item-content h2 {
  font-size: 1.15rem;
  margin: var(--space-2) 0;
}

.product-item-actions {
  display: flex;
  gap: var(--space-2);
  margin-top: var(--space-4);
}