<%- include('../../shared/includes/head', { pageTitle: 'Login'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../../shared/includes/header')%>
<main>
<h1>Login</h1>
<form action="/login" method="POST"> //Use of post request. we change 
    //something on the server, we change the session to mark the user as logged in
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
    <p>
   
       <label for="email">E-Mail</label> <!--for must the same with the id of the input to be connected-->
    <input type="email" id="email" name="email" required> 
    </p>
    <p>
       <label for="password">Password</label> 
    <input type="password" id="password" name="password" minlength="6" required> 
    </p>
   
    <button class="btn">Login</button>
    <p id="switch-form"><a href="/signup">Create a new user</a></p>
</form>
</main>

<%- include('../../shared/includes/footer')%>